@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: #484e5c;
}
::-webkit-scrollbar-thumb {
	background: #0bd3fd;
	opacity: 1;
}

a {
	cursor: url(assets/logo/pointer.png), pointer;
}

/* p {
	cursor: url(assets/logo/type.png), text;
} */

html {
	height: 100%;
	cursor: url(assets/logo/arrow.png), default;
}
body {
	height: 100%;
	/* background: -webkit-linear-gradient(
		180deg,
		#6384a8 0%,
		#a8c6de 100%
	);  */

  background-color: #F4F4F4;
  
  /* For Safari/Chrome */
	/* background: linear-gradient(180deg, #6384a8 0%, #a8c6de 100%);
	background-repeat: no-repeat;
	background-attachment: fixed; */
}

.swiper-button-next,
.swiper-button-prev{
	cursor: url(assets/logo/pointer.png), pointer;
}

#wave1 {
  animation: animateWaves 4s linear infinite;
  /* background: url("assets/logo/wave2.png"); */
  background-size: 1000px 100px;
}

#wave2 {
  animation: animate 4s linear infinite !important;
  /* background: url("assets/logo/wave2.png"); */
  background-size: 1000px 100px;
}
#wave3 {
  animation: animateWaves 3s linear infinite;
  /* background: url("assets/logo/wave2.png"); */
  background-size: 1000px 100px;
}
#wave4 {
  animation: animate 3s linear infinite;
  /* background: url("assets/logo/wave2.png"); */
  background-size: 1000px 100px;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}